*.o
*.swp
.deps/
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
stamp-h1
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
compile
lsusb
lsusb.py
lsusb.8
usbutils.pc
usb-devices.1
usbreset
*.gz
*.bz2
