*.o
*.swp
.deps/
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
stamp-h1
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
lsusb
lsusb.8
update-usbids.sh
usbutils.pc
usb-devices.1
*.gz
*.bz2
