# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (c) 2010 Nikolai Kondrashov
/config.h.in
/autom4te.cache
/aclocal.m4
/Makefile.in
/configure
/config.h
/config.log
/config.status
/libtool
/Makefile
/stamp-h1
/auxdir
/ChangeLog
*.o
*.lo
*.la
